.order-nav {
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 25px;
}

.food-thumbnail img {
    width: 100%;
    height: 100px;
}

tfoot {
	border-top: 1px solid #ddd;
}

tfoot > tr > th {
	border: none !important;
	font-size: 18px;
}

.proceed-section {
	padding: 30px;
}

footer {
	margin-top: 40px;
}