.order-nav {
    padding-top: 100px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 25px;
}

.payment {
	padding: 20px 0;
}

@media(min-width:992px) {
	#payment-form {
		margin-left: -120px;
	}
}